<div class="container">

  <app-form-input></app-form-input>

  <app-ranking-list></app-ranking-list>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div>-->
<!--        <h3 class="title">Rank Words in a Wiki Topic</h3>-->
<!--        <form [formGroup]="rankingForm" (ngSubmit)="onSubmit()">-->
<!--          <div class="row">-->
<!--            <div class="form-group">-->
<!--              <label for="queryInput">Enter Wiki Topic</label>-->
<!--              <input type="text" class="form-control" formControlName="query" id="queryInput" aria-describedby="queryInput" placeholder="Topic Name..">-->
<!--            </div>-->
<!--          </div>-->
<!--          <button type="submit" [disabled]="!rankingForm.valid" class="btn btn-danger">Rank Words!</button>-->

<!--          <div *ngIf="rankingForm.controls['query'].invalid && (rankingForm.controls['query'].dirty || rankingForm.controls['query'].touched)" class="alert">-->
<!--            <div *ngIf="rankingForm.controls['query'].errors.required">-->
<!--              <span class="errorMsg">Please enter a topic name</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->

<!--      <div *ngIf="loading">-->
<!--        <app-loader></app-loader>-->
<!--      </div>-->

<!--    </div>-->

<!--    <div class="row" *ngIf="result && !loading">-->

<!--      <h4>Top Words Ranking</h4>-->
<!--      <h6>** Excluding verbs and some pre-defined constants words (see ./constants.js in backend files)</h6>-->
<!--      <div class="resultsContainer" *ngIf="result.length">-->
<!--        <ul *ngFor="let item of result">-->
<!--          <li>-->
<!--            {{item.word}}-->
<!--          </li>-->

<!--          <li>-->
<!--            {{item.rank}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div *ngIf="!result.length">-->
<!--        No topics were found!-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



</div>


